extends ../layout.pug

block content
  div.uk-container
    form#editPost
      fieldset.uk-fieldset
        legend.uk-legend Edit post
        div.uk-margin
          label(for='title').uk-form-title Title
          div.uk-form-controls
            input#title.uk-input(type='text', placeholder='Enter post title', value=post.title)
        div.uk-margin
          label(for='description').uk-form-title Description
          div.uk-form-controls
            input#description.uk-input(type='text', placeholder='Enter post description', value=post.description)
        div.uk-margin
          label(for='content').uk-form-title Content textarea
          div.uk-form-controls
            textarea#content.uk-textarea(rows=3)=post.content
        button#submit.uk-button.uk-button-default(type='submit') Submit