extends ../layout.pug

block content
  div.uk-container
    article.uk-article
      h1 Some blog
      p.uk-text-lead Some info
      div.uk-margin Create a 
        a(href='/new-post').uk-button.uk-button-default new post
      div Go to 
        a(href='/posts').uk-button.uk-button-default all posts