extends ../layout.pug

block content
  div.uk-container
    h1 Posts
    div(class='uk-child-width-1-2@s uk-child-width-1-3@m' uk-grid).uk-grid-match
      each post in posts
        div
          div.uk-card.uk-card-default.uk-card-hover
            div.uk-card-header
              h3.uk-card-title=post.title
            div.uk-card-body
              p=post.description
              a(href='/posts/' + post._id).uk-button.uk-button-default Read
            div.uk-card-footer
              p.uk-text-meta=toDateString(post.date)
